<% show_array.each do |show| %>
    <div class="tv-show">
        <%= image_tag "http://image.tmdb.org/t/p/w185#{show["poster_path"]}", alt: "No Image Provided", class: "big-image" %>
        <div class="show-content">
            <%= link_to show["name"], show_path(tv_id: show["id"]), class: "show-name-link" %>
            <div class="genres">
                <% show["genre_ids"].each do |genre_id| %>
                    <%= build_genre_tag genre_id %>
                <% end %>
            </div>

            <p><%= show["overview"] %></p>
        </div>
    </div>
<% end %>
