<% show_array.each do |show| %>
    <div class="tv-show">
        <%= image_tag "http://image.tmdb.org/t/p/w185#{show["poster_path"]}", class: "big-image" %>
        <div class="show-content">
            <%= link_to show["name"], show_path(tv_id: show["id"]), class: "show-name-link" %>
            <div class="genres">
                <% convert_genre(show["genre_ids"]).each do |genre| %>
                    <% if genre %>
                        <div class="genre"><%= genre %></div>
                    <% end %>
                <% end %>
            </div>

            <p><%= show["overview"] %></p>
        </div>
    </div>
<% end %>
