<div class="row about">
    <div class="col-md-12">
        <h1>BlocCast</h1>
        <h2>A TV Discovery Webapp</h2>
        <h4>Doing the finding for you - search for shows, and let us make the connections.</h4>
        <small>Powered by <%= link_to 'The Movie DB', 'https://www.themoviedb.org/' %></small>
        
        <p>To learn more - check out the <%= link_to 'README', 'https://github.com/mftaff/bloc-cast#bloccast' %>
        on BlocCast's <%= link_to 'GitHub', 'https://github.com/mftaff/bloc-cast' %> page.</p>
    </div>
</div>
