<div class="row">
    <div class="col-md-7">
        <h1>Top Rated Shows</h1>

        <div class="popular-shows">
            <%= render partial: "parse_show_list", locals: {show_array: @popular_shows} %>
        </div>
    </div>
    <div class="col-md-5">
        <%= render partial: "recommended_shows", locals: {} %>
    </div>
</div>
