/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

a {
    color: #367d7a;

    &:hover {
        text-decoration: none;
        color: #0000a3;
    }
}

.page-header {
    background-color: whitesmoke;
    padding: 0.5em;

    .header {
        display: inline-block;
    }

    .search {
        margin-left: 10%;
        width: 30%;

        #query {
            width: 80%;
            border-radius: 10px;
            padding: 3px;
            border: 2px solid #b8c9c3;
        }

        #submit-search {
            background-color: white;
            border-radius: 10px;
            border-color: #b8c9c3;
            padding: 3px;

            &:hover {
                cursor: pointer;
                cursor: -webkit-pointer;
                cursor: -moz-pointer;
            }
        }
    }

    .navigation {
        float: right;
        margin-top: 11px;
        margin-right: 11px;

        a {
            font-size: 1.2em;
            color: #5a9997;
            text-decoration: none;
            padding: 4px;
            border-radius: 10px;

            &:focus {
                outline: none;
                background-color: rgba(0, 245, 246, 0.1);
            }
        }
    }
}